chromadb
docx2txt
fastembed
FlashRank
Flask
flask-cors
gunicorn
langchain
langchain-community
langchain-google-genai
langchain-openai
mysql-connector-python
openpyxl
pypdf
python-dotenv
rank-bm25
langchain-core
duckduckgo-search
