chromadb
docx2txt
fastembed
FlashRank
Flask
flask-cors
flask-limiter
gunicorn
langchain
langchain-community
langchain-google-genai
langchain-openai
mysql-connector-python
openpyxl
pypdf
python-dotenv
rank-bm25
langchain-core
ddgs
pandas
requests
langchain-classic
langchain-text-splitters
